/* insert you css */

body{
background-image: linear-gradient(#DCF4F8, #FFFFFF);
}

h1 {
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 90px;
}

p {
    text-align: left;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
    font-style: bold;
}



h2 {
    font-family: Courier New, Courier, monospace;
    font-size: 40px;
}

h4 {
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}

h5 {
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
}


h3 {
    text-align: left;
    font-family: Roboto Mono, monospace;
    font-size: 30px;
    font-style: bold;

}


h6 {
    text-align: left;
    font-family: Roboto Mono, monospace;
    font-size: 30px;
    

}
.with_border{
    border: solid 1px black;
    padding: 6px;

width: 220px;
    height: 40px;
  
}

.no_border{
    padding: 50px;
}

.margine_under{
    margin-bottom: 20px;
}

.my-button {
    background-color: #D7F6F9;
    font-family: Roboto Mono, monospace;
    border-color: transparent;
    font-size: 20px;
}

.my-button:hover {
    background-color: #AFFFD7;
    border-color: #AFFFD7;
}

.mrg_toptesto{
    margin-top: 50px;
}

.mrg_toppp{
    margin-top: 60px;
}

.mrg_top{
    margin-top: 130px;
}

.mrg_top40{
    margin-top: 40px;
}

.mrg_toppino{
    margin-top: 20px;
}

.mrg_left{
    margin-left: 20px;
}

.mrg_bottone{
    margin-bottom:30px;
}

img.animated-gif{
  width: 550px;
  height: auto;
}

img.animated-giff{
  width: 500px;
  height: auto;
}

.img-scale{
    width: 100px;
  height: auto;
}

.intro-img{
    padding: 0 5px 0px;
}

.img-scalina{
    width: 40px;
    height: auto;
}

.img-scalona{
    width: 100px;
    height: auto;
}







  border: dotted 3px black;